<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VSROShardEntities" connectionString="metadata=res://*/VsroShard.csdl|res://*/VsroShard.ssdl|res://*/VsroShard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5H87KA2\SQLEXPRESS;persist security info=True;user id=TheRock;password=amir2011.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VSRO_AccountEntities" connectionString="metadata=res://*/VsroAccount.csdl|res://*/VsroAccount.ssdl|res://*/VsroAccount.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5H87KA2\SQLEXPRESS;initial catalog=VSRO_Account;persist security info=True;user id=TheRock;password=amir2011.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VSRO_SHARDEntities" connectionString="metadata=res://*/VsroShard.csdl|res://*/VsroShard.ssdl|res://*/VsroShard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5H87KA2\SQLEXPRESS;initial catalog=VSRO_SHARD;persist security info=True;user id=TheRock;password=amir2011.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VSRO_LOGEntities" connectionString="metadata=res://*/VsroLog.csdl|res://*/VsroLog.ssdl|res://*/VsroLog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=VSRO_LOG;persist security info=True;user id=TheRock;password=amir2011.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>